@model EFandDB.Models.Student
@*@model IEnumerable<EFandDB.Models.Course>*@
@*@using EFandDB.Models*@
@{ViewBag.Title = "Confirmed delete course from Student list"; }
<h2>Details Student</h2>
<div>
    <h4>Student</h4><hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Name)</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>
        <dt>@Html.DisplayNameFor(model => model.City)</dt>
        <dd>@Html.DisplayFor(model => model.City)</dd>
    </dl>
</div>
@*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Details", "Details", new { id = Model.Id }) |
        <!--1 change to 'Add Course' to Student and change id to sId-->
        @Html.ActionLink("Add Course", "AddCourseToStudent", new { sId = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@

<!--2 we add here div to display subList of courses for this student-->
<div>
                     
    @{

     };
    
    @if (Model.Courses.Count > 0)
    {

        var filterCourse = Model.Courses.Where(c => c.Id == ViewBag.cId);
        //we have here a filter to display just one element to delete
        
    <h3>name: </h3>
        //foreach (var item in Model.Courses)
        //{
        //    if (item.Id == (int)ViewBag.cId)
        //    {
                @*<h4>Course</h4><hr />
                <dl class="dl-horizontal">
                    <dt>@Html.DisplayNameFor(modelItem => item.Name)</dt>
                    <dd>@Html.DisplayFor(modelItem => item.Name)</dd>
                    <dt>@Html.DisplayNameFor(modelItem => item.Description)</dt>
                    <dd>@Html.DisplayFor(modelItem => item.Description)</dd>
                </dl>

                <dl><!--we add here new rout object to go as input to 'Details' action -->
                @Html.ActionLink("Cancel", "Details", "Students", new { id = Model.Id }, new { @class = "btn btn-info" })|
                <!--we need to call cofirm action but it need also input sId and cId-->
                @Html.ActionLink("Confirmed Delete", "ConfirmedDeleteCourseFromStudent", new { sId = Model.Id, cId = item.Id }, new { @class = "btn btn-info" })
                </dl>*@
            @*};*@
       @* }*@
    }
    else
    {
        <p>Course dose not exist!</p>
    }
</div>

